<div class="landing">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
       <div class="container">
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->

  <center><h2 class="featured"><span>Featured Projects</span></h2></center>
  <br>
  <div class="container-fluid">
    <div class="row">
      <% @projects.first(3).each do |project| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <% if project.banner_image_file_name.nil? %>
          <%= image_tag 'missing.png', size: 320 %>
        <% else %>
          <%= image_tag project.banner_image.url(:small) %>
        <% end %>
          <div class="caption">
              <h4 class="pull-right">Amount Raised!</h4>
              <h4><a href="#"> <%= link_to project.title, project_path(slug: project.title.parameterize) %>  </a>
              </h4>
              <p>Can put progress bar here maybe?</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  </br>
</br>
</div>