<footer class="footer">
    <div class="container">
        <center><span class="text-muted"><a href="/about">About Us</a> |  <a href="/api_info">API Documentation</a></span>
</center>
    </div>
</footer>
