<footer class="footer">
    <div class="container">
        <center><span class="text-muted"><a href="/about">About Us</a></span></center>
        <span class="text-muted"><a href="/api_info">API Documentation</a></span>
    </div>
</footer>
