.navbar {
  height: 49px;
  min-height: 49px;
}

.navbar-brand {
  padding-top: 11px;
  padding-right: 10px;
}

.navbar-form .form-control {
  width: 355px;
  height: 26px;
}

.navbar-form {
  padding: 0;
  padding-right: 8px;
  margin-left: 0;
  margin-top: 12px;
}

.form-control {
  border-radius: 3px;
}

.navbar-default {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  background-image: none;
  box-shadow: none;
}

.nav > li > a {
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 600;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  border-radius: 3px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #4078C0;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.dropdown-logged-in-notice {
  color: #767676;
  padding-left: 20px;
}

.dropdown-menu {
  width: 180px;
}


.navbar-nav > li > .dropdown-menu {
  border-radius: 3px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.custom-container.main {
  margin-left: 146px;
  margin-right: 141px;
}

.avatar {
  border-radius: 6px;
}

div.col-md-3.left {
  padding-left: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #c9510c;
}

.nav-tabs{
  display: flex;
  justify-content: center;
}

.span-tabs {
  font-size: 25px;
  display: inline-block;
  margin-right: 10px;
  padding: 15px;
}


/*footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/*landing page*/

.carousel {
     margin-bottom: 60px;
   }

   .carousel .container {
     position: relative;
     z-index: 9;
   }

   .carousel-control {
     height: 80px;
     margin-top: 0;
     font-size: 120px;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
     background-color: transparent;
     border: 0;
     z-index: 10;
   }

   .carousel .item {
     height: 500px;
   }
   .carousel img {
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     height: 500px;
   }

   .carousel-caption {
     background-color: transparent;
     position: static;
     max-width: 550px;
     padding: 0 0px;
     margin-top: 200px;
   }
   .carousel-caption h1,
   .carousel-caption .lead {
     margin: 0;
     line-height: 1.25;
     color: #fff;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
   }
   .carousel-caption .btn {
     margin-top: 10px;
   }

 .account-img {
   margin-top: 65px;
   display: flex;
   justify-content: center;
 }


.featured {
  color: grey;
   width: 55%;
   text-align: center;
   border-bottom: 1px solid grey;
   line-height: 0.1em;
   margin: 10px 0 20px;
}


.featured span {
    background:#fff;
    padding:0 10px;
    padding-bottom: 10px;

}
