
<div class="container-fluid project">
  <div class="row category-row">
    <h1 id="category-title">Categories</h1>
    <% @categories.each do |category| %>
      <li id="category-list"><%= button_to category.name, category_path(category.slug), class: "btn btn-primary custom-button-width", method: :get %></li>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="container category-stats">
  <div class="row">
    <div class="col-sm-8">
      <h3 class="cat-description">Vicarious.li is:</h3>
      <h3 class="cat-description">...a world-wide community, passionate about making amazing things.</h3>
      <h3 class="cat-description">...revolutionizing the way you make your dreams a reality.</h3>
      <h3 class="cat-description">...helping you find the next big thing.</h3>
    </div>
    <div class="col-sm-4">
      <center><h3 class="category-count">Projects Created:<br> </h3></center>
      <center><h3 class="category-count"><%=@categories.joins(:projects).count %><br> </h3></center>
      <center><h3 class="category-count">Funds raised: <%= number_to_currency(@pledges) %> </h3></center>
    </div>
  </div>
</div>
<hr>

<div class="container test" style="padding-top:30px">
    <h1 class="text-center">Testimonials</h1>
	<div class="row">
		<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-success">
                <div class="testimonial-section">
                    I always struggled getting creative projects off the ground but thanks to my beautiful backers here on VeeLee (as we call it) I'm finally ready to shoot my first short film!
            	</div>
                <div class="testimonial-desc">
                    <img src="https://source.unsplash.com/100x100/?people" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Annabelle Thunk</div>
                    	<div class="testimonial-writer-designation">Filmmaker</div>
                    </div>
                </div>
            </div>
		</div>
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-primary">
                <div class="testimonial-section">
                    After just three days on Vicarious.li, my wallet startup had enough money to IPO! I'm never going back to the competitors.
                </div>
                <div class="testimonial-desc">
                  <img src="https://source.unsplash.com/100x100/?man" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Alistair Nightengale III</div>
                    	<div class="testimonial-writer-designation">Thought Leader</div>
                    </div>
                </div>
            </div>
		</div>
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-info">
                <div class="testimonial-section">
                    You're telling me all I have to do is post a title, a picture and a description on here and my dream of a trip to CERN could become reality? Sign me up! Oh wait, you already did!
                </div>
                <div class="testimonial-desc">
                  <img src="https://source.unsplash.com/100x100/?city" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Melissa Gorgon</div>
                    	<div class="testimonial-writer-designation">Scientist</div>
                    </div>
                </div>
            </div>
		</div>
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning">
                <div class="testimonial-section">
                    This is the new hotness. I love giving money to products I support, and being able to really engage with the creators. I can't believe nobody thought of this before. I've been able to directly support people making the things I love, which coincidentally is a thing I also love!
                </div>
                <div class="testimonial-desc">
                  <img src="https://source.unsplash.com/100x100/?woman" alt="" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Rachel McGranderson</div>
                    	<div class="testimonial-writer-designation">Backer</div>
                    </div>
                </div>
            </div>
          </div>
    </div>
  </div>
  <br>
  <br>
